*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  color: white;
}
.big-container{
  display: flex;
  flex-direction: rows;
  width: 100vw;
  height: 100vh;
}
.image-container{
  background-image: url('imgs/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  width: 35%;
}
.content-container{
  width: 65%;
  font-size: 32px;
  background-color: hsl(0, 0%, 20%);
}
.text{
  padding: 60px 50px;
  height: 30vh;
}
.form{
  background-color: hsl(0, 0%, 15%);
  height: 40vh;
  /* border: 1px solid black; */
  box-shadow: 6px 5px 20px hsl(0, 0%, 40%)
}