*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  color: white;
}
.big-container{
  display: flex;
  flex-direction: rows;
  width: 100vw;
  height: 100vh;
}
.image-container{
  background-image: url('imgs/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  width: 35%;
}
.content-container{
  width: 65%;
  font-size: 32px;
  background-color: #071B2A;
}
.text{
  padding: 60px 50px;
  height: 30vh;
}
.form{
  background-color: #000e18;
  height: 40vh;
  /* border: 1px solid black; */
  box-shadow: 6px 5px 20px hsl(250, 100%, 11%)
}
.submit{

}
#form-submit{
  width: 250px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: rgb(0, 77, 0);
  border: none;
  border-radius: 8px;
  margin: 30px 40px;
  font-family: 'Rubik';
}