*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Rubik', sans-serif;
  color: white;
}
.big-container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.image-container{
  background-image: url('imgs/wallpaper.jpg');
  background-size: cover;
  background-position: center;
  width: 35%;
}
.content-container{
  width: 65%;
  font-size: 32px;
  background-color: #071B2A;
}
.text{
  padding: 60px 50px;
  height: 30vh;
}
.form{
  background-color: #000e18;
  height: 40vh;
  padding: 10px 20px;
  /* border: 1px solid black; */
  box-shadow: 6px 5px 20px hsl(250, 100%, 11%);
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.down{
  display: flex;
  margin: 15px 0px;
}
.left{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.right{
  display: flex;
  flex-direction: column;
  width: 50%;
}
#form-submit{
  border: 2px solid rgb(53, 88, 0);
  width: 250px;
  height: 40px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: rgb(0, 77, 0);
  border-radius: 8px;
  margin: 30px 40px;
  font-family: 'Rubik';
}
input{
  border-radius: 4px;
  border: 3px solid #E5E7EB;
  margin-left: 0;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 360px;
  height: 30px;
  font-size: 18px;
  padding: 10px 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* overflow: scroll; */
}
.submit>p{
  font-size: 20px;
  margin: 10px 25px;
}
input[type="password"]:invalid {
  border: 3px solid red; /* Red border for invalid password */
}
input:focus{
  outline: none;
  border: 3px solid blue;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.5);
}
#form-submit:hover{
  background-color: green;
}
#form-submit:active{
  background-color: rgb(0, 75, 0);
}
a{
  color: rgb(0, 180, 0);
  text-decoration: none;
  font-weight: 600;
}